@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,700");
$font-family-base: Muli;

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
$headings-font-family: Abel;

$primary: #2d70ff;
$secondary: #3e4d59;
$success: #659f13;
$danger: #d85030;
$info: #2d7091;
$warning: #e28327;
$light: #eceeec;
$dark: #111;

html { font-size: .8rem; }

$enable-rounded: false;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";
